a{
	color: #474747;
}
.containAbout{
	width:1190px;
	margin: 0 auto;
	/*height: 800px;*/
}
.containLeft{
	width: 300px;
	/*height: 600px;*/
	background: #f2f2f2;
}
.containLeft h3{
	color: #474747;
	font-size: 28px;
	text-align:center; 
	padding: 60px 0 ;
}
.navContain li{
	width: 100%;
	display: inline-block;
	color: #474747;
	text-align:center; 
	height: 48px;
	line-height: 48px;
	-webkit-transition:background 0.3s linear;
    -moz-transition:background 0.3s linear;
    -ms-transition:background 0.3s linear;
    -o-transition:background 0.3s linear;
    transition:background 0.3s linear;
}
.navContain li:hover{
	background-color: white;
}
.navContain>li:last-child{
	margin-bottom: 40px;
}
.navSlide{
	display: inline-block;
}
.navSlide a{
	color: #474747;
}
.navSlide li{
	color: #474747;
	text-align:left; 
	height: 48px;
	line-height: 48px;
	padding-left: 150px; 
}
.on{
	background: url(../images/bluebar.png) no-repeat;
	background-color: white;
}
.hide{
	display: none;
}
.indexMainBanner{
	margin-bottom:20px;
}
.containRight{
	padding: 20px;
	width: 890px;
}
.containRight,.containLeft{
	float:left;
	margin-bottom:20px;
}
.clearFloat{
	clear:both;
}
/*.containRight *{
	margin:auto;
	text-align:center;
}*/
/*被封印的css*/