html{
	height: 100%;
}
body{
	height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body,h1 { color:#555; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { text-decoration:none; }
a:link{text-decoration: none;}
a:visited { text-decoration: none !important;}
a:hover { text-decoration:none; }
a:active { text-decoration:none !important; }
img { border:none; }
ol,ul,li { list-style:none; margin-bottom: 0;}
input, textarea, select, button,li,span,p { font-family: "微软雅黑",Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container {
    margin: 0 auto;
}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

div.clear{
	clear:both;
}

/*index*/
.indexHeader{
	width: 100%;
	color: #fff;
	background: #1198bb;
}
.indexHeader .indexHeaderTittle{
	margin: 0 auto;
	width:1190px;
	height: 150px;
}
.indexHeader .indexHeaderNav{
	margin: 0 auto;
	width: 100%;
	height: 50px;
	background: #e6e6e6;
}
.indexHeader .indexHeaderTittle .thisTittle{
	background-image: url(../images/head.jpg);
	width: 100%;
	height: 100%;
} 
.indexHeader .indexHeaderTittle .search{
	float: right;
	width: 26%;
	position: relative;
	top: 50px;
}
.indexHeader .indexHeaderTittle .search input{
	width: 100%;
	height: 30px;
	color: #aaa;
	font-size: 14px;
	line-height: 30px;
}
.indexHeader .indexHeaderTittle .search span{
	display: block;
	width: 32px;
	height: 30px;
	background-image:url(../images/search.png);
	position: absolute;
	right:0;
}
.indexHeader .indexHeaderNav ul{
	display: block;
	width:1190px;
	margin: 0 auto;
}
.indexHeader .indexHeaderNav ul li.navBlock{
	float: left;	
	height: 50px;
	line-height: 50px;
	width: 10%;
	position: relative;
}
.indexHeader .indexHeaderNav ul li.navBlock:hover{
	color: white;
	background: #1198bb;
}
.indexHeader .indexHeaderNav ul li.navBlock a{
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #404040;
}
.indexHeader .indexHeaderNav ul li.navBlock a:hover{
	color: white;
}
.indexHeader .indexHeaderNav ul.navSlideDown{
	width: 100%;
	z-index: 9999;
	position: absolute;
}
.indexHeader .indexHeaderNav ul.navSlideDown li{
	width: 100%;
	height: 50px;
	background: #e6e6e6;
}
.indexHeader .indexHeaderNav ul.navSlideDown li:hover{
	background: #f2f2f2;
}
.indexHeader .indexHeaderNav ul.navSlideDown li a{
	color: #aaa;
	display: block;
	width: 100%;
	font-size: 18px;
	height: 50px;
	text-align: center;
}
.indexHeader .indexHeaderNav ul.navSlideDown li a:hover{
	color: #404040;
}
.indexMain{
	width: 100%;
	z-index: 1;
}
.indexMain .indexMainBanner{
	width:1190px;
	margin: 0 auto;
	height: 400px;
}
.indexMain .indexMainBanner .item img{
	height: 100%;
}
.indexMain .indexMainInner{
	width:1190px;
	margin: 0 auto;
}
.indexMain .indexMainInner .indexMainLeft{
	float: left;
	width: 58%;
}
.indexMain .indexMainInner .indexMainRight{
	float: right;
	width: 38%;
}
.indexMain .indexMainInner .indexMainTittle{
	cursor: pointer;
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	float: left;
}	
.indexMain .indexMainInner .indexMainMore{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	float: right;
	color: #aaa;	
}
.indexMain .indexMainInner .border{
	width: 100%;
	height: 4px;
	background: #1198bb;
}
.indexMain .indexMainInner ul{
	margin: 20px 0;
	padding-left: 20px;
	list-style-type: disc;
}
.indexMain .indexMainInner ul li{
	white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    color: 	#404040;
    margin-top: 5px;
}
.indexMain .indexMainInner ul li a{
	color: #404040;
}
.indexFooter{
	width: 100%;
	height: 120px;
	background: #1198bb;
	color: white;
	font-size: 18px;
	padding-top: 20px;
}
.indexFooter li{
	text-align: center;
	margin-top: 10px;
}

@media screen and (max-width: 1500px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 70%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 70%;
	}
	.indexMain .indexMainBanner{
		width: 70%;
	}
	.indexMain .indexMainInner{
		width: 70%;
	}
}
@media screen and (max-width: 1300px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 80%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 80%;
	}
	.indexMain .indexMainBanner{
		width: 80%;
	}
	.indexMain .indexMainInner{
		width: 80%;
	}
}
@media screen and (max-width: 1100px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 90%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 90%;
	}
	.indexMain .indexMainBanner{
		width: 90%;
	}
	.indexMain .indexMainInner{
		width: 90%;
	}
}