html{
	height: 100%;
}
body{
	height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body,h1 { color:#555; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { text-decoration:none; }
a:link{text-decoration: none;}
a:visited { text-decoration: none !important;}
a:hover { text-decoration:none; }
a:active { text-decoration:none !important; }
img { border:none; }
ol,ul,li { list-style:none; margin-bottom: 0;}
input, textarea, select, button,li,span,p { font-family: "微软雅黑",Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container {
    margin: 0 auto;
}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

div.clear{
	clear:both;
}

/*index*/
.indexHeader{
	width: 100%;
	color: #fff;
}
.indexHeader .indexHeaderDadTittle{
	width: 100%;
	background-image: url(../images/head_background.jpg);
}
.indexHeader .indexHeaderTittle{
	margin: 0 auto;
	width:1190px;
	height: 150px;
}
.indexHeader .indexHeaderDadNav{
	width: 100%;
	background-image: url(../images/nav_background.jpg);
}
.indexHeader .indexHeaderNav{
	margin: 0 auto;
	width: 100%;
	height: 50px;
}
.indexHeader .indexHeaderTittle .thisTittle{
	width: 100%;
	height: 100%;
} 
.thisTittle img{
	margin: 30px;
}
.indexHeader .indexHeaderTittle .search{
	float: right;
	width: 26%;
	position: relative;
	top: 50px;
}
.indexHeader .indexHeaderTittle .search input{
	width: 100%;
	height: 30px;
	color: #aaa;
	font-size: 14px;
	line-height: 30px;
}
.indexHeader .indexHeaderTittle .search span{
	display: block;
	width: 32px;
	height: 30px;
	background-image:url(../images/search.png);
	position: absolute;
	right:0;
	cursor: pointer;
}
.indexHeader .indexHeaderNav ul{
	display: block;
	width:1190px;
	margin: 0 auto;
}
/*ul.navSlideDown{
	display: none;
}*/
.indexHeader .indexHeaderNav ul li.navBlock{
	float: left;	
	height: 50px;
	line-height: 50px;
	width: 9%;
	position: relative;
}
.indexHeader .indexHeaderNav ul li.navBlock:hover{
	background: #3ca7e1;
}
.indexHeader .indexHeaderNav ul li.navBlock a{
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #404040;
}
.indexHeader .indexHeaderNav ul li.navBlock a:hover{
	color: white;
}
.indexHeader .indexHeaderNav ul.navSlideDown{
	width: 160px;
	z-index: 9999;
	position: absolute;
	left: -28px;
}
.indexHeader .indexHeaderNav ul.navSlideDown li{
	width: 100%;
	height: 50px;
	background: #3ca7e1;
	opacity: 0.9;
	border-bottom: solid 1px #d8f3ff;
}
.indexHeader .indexHeaderNav ul.navSlideDown li:last-child{
	border-bottom: 0px;
}
.indexHeader .indexHeaderNav ul.navSlideDown li:hover{
	background: #3ca7e1;
	opacity: 0.85;
}
.indexHeader .indexHeaderNav ul.navSlideDown li a{
	color: white;
	display: block;
	width: 100%;
	font-size: 18px;
	height: 50px;
	text-align: center;
}
.indexMain{
	width: 100%;
	z-index: 1;
}
.indexMain .indexMainBanner{
	width: 1190px;
	margin: 0 auto;
	height: 400px;
}
/*.indexMain .indexMainBanner .item img{
	height: 100%;
}*/

/*.indexMain .indexMainBanner a{
	background-image: none;
}
*/
.indexMain .indexMainBanner a span.glyphicon{
	font-size: 40px !important;
}

.indexMain .indexMainInner{
	width:1190px;
	margin: 0 auto;
	margin-top: 20px;
}

.indexMain .indexMainInner .indexMainInnerChild{
	width: 380px;
	float: left;
	margin-left: 25px;

}

.indexMain .indexMainInner .indexMainInnerChild:first-child{
	margin-left: 0px;
}

.indexMainInnerChild .childTittle h3{
	font-size: 24px;
	color: #404040;
	display: block;
	float: left;
	margin: 0;
	height: 50px;
	line-height: 50px;
}

.indexMainInnerChild .childTittle span{
	color: #aaa;
	font-size: 16px;
	display: block;
	float: left;
	margin-left: 20px;
	height: 32px;
	line-height: 32px;
	position: relative;
	top: 13px;
}

.indexMainInnerChild .childInner{
	margin-bottom: 60px;
}

.indexMainInnerChild .childTittle a{
	display: block;
	float: right;
	color: #aaa;
	position: relative;
	top: 18px;
	right: 5px;
	font-size: 16px;
}

.indexMainInnerChild .childTittle a:hover{
	color: #3ca7e1;
}

.indexMainInnerChild .childBorder{
	width: 100%;
	height: 4px;
	background-color: #3CA7E1;
}

.indexMainInnerChild .childInner a{
	display: block;
}

.indexMainInnerChild .childInner li{
	border: 1px dashed #aaa;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.indexMainInnerChild .childInner li:last-child{
	border-bottom:0px;
}

.indexMainInnerChild .childInner a.picture{
	width: 100%;
	height: 140px;
	overflow: hidden;
	margin: 10px 0;
}

.indexMainInnerChild .childInner a.picture img{
	width: 100%;
}

.indexMainInnerChild .childInner ul li a{
	width: 85%;
	font-size: 16px;
	color: #404040;
	white-space: nowrap; 
    text-overflow: ellipsis; 
	margin: 2px 0px;
    overflow: hidden;
    float: left;
}

.indexMainInnerChild .childInner ul li span{
	display: block;
	float: right;
	color: #aaa;
	text-align: right;
	width: 15%;
	font-size: 14px;
	position: relative;
	top: 5px;
}

.indexMainInnerChild .childInner ul li a:hover{
	color: #3CA7E1;
}

.indexMainInnerChild .childInner ul li a:before{
	content: url(../images/point.png);
}

.childLittle {
	margin-bottom: 30px;
}

.childLittle li a{
	font-size: 14px;
	color: #2980b9;
}

.childLittle li span{
	color: #ccc;
}
.childLittle li a img{
	height:40px;
}
/*footer*/
.indexFooter{
    width: 100%;
    height: 80px;
    background: url(../images/footer_background.jpg);
    font-size: 14px;
    padding-top: 10px;
}
.indexFooter li{
	text-align: center;
	color: white;
	opacity: 0.9;
	margin-top: 5px;
}
.indexFooterSlider{
	display: block;
    margin: 5px auto;
    width: 500px;
	overflow: hidden;
}
.indexFooterSlider span{
	position:relative;
}
/*@media screen and (max-width: 1500px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 70%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 70%;
	}
	.indexMain .indexMainBanner{
		width: 70%;
	}
	.indexMain .indexMainInner{
		width: 70%;
	}
}
@media screen and (max-width: 1300px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 80%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 80%;
	}
	.indexMain .indexMainBanner{
		width: 80%;
	}
	.indexMain .indexMainInner{
		width: 80%;
	}
}
@media screen and (max-width: 1100px){
	.indexHeader .indexHeaderTittle{
		margin: 0 auto;
		width: 90%;
		height: 150px;
	}
	.indexHeader .indexHeaderNav ul{
		display: block;
		width: 90%;
	}
	.indexMain .indexMainBanner{
		width: 90%;
	}
	.indexMain .indexMainInner{
		width: 90%;
	}
}*/